﻿@{
    ViewData["Title"] = "Home Page";
}
    <section class="col-12">
        <div class="row">
            @foreach (var cam in StoreCameraStream.CameraStreams)
            {
                <div class="col-4">
                    <figure class="ratio-43">
                        <img src="@cam.Value"/>
                        <figcaption>@cam.Key</figcaption>
                    </figure>
                </div>
            }
        </div>
    </section>